@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slideShow{
height: 39.29rem;
width: screen;
}

.overlay--disable {
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.music{
  padding: 0.5rem 1rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  color: #3535cc;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
  
}

.music:hover {
  color: white;
}

.music:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.music:before {
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}
.intro--disappear .music {
  top: 10px;
}

.intro--disappear .music {
  animation: fadeOut 1s ease-in-out forwards;
}


.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem;
  margin-right: 3.5rem;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}


.PauseMusic{
  padding: 0.2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  color: #3535cc;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.PauseMusic:hover {
  color: white;
}

.PauseMusic:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.PauseMusic:before {
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .PauseMusic {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}


.logo {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}

.spinner {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: -42px;
  margin-top: -42px;
  animation: fadeIn 2.4s ease-in-out 1.2s forwards;
  opacity: 0;
}

.spinner__image {
  width: 164px;
  height: 164px;
  background-size: contain;
  background-image: url("../public/images/SprD.svg");
  animation: rotate 10s linear infinite;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 24vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #3535cc;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.explore:hover {
  color: white;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.outro--appear {
  opacity: 1;
}

.outro__text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-top: 25rem;
}

.VrShow {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #ffffff;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 800;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.VrShow:focus,
.VrShow:hover {
  color: #fff;
}

.VrShow:focus:after,
.VrShow:hover:after {
  width: 100%;
  left: 0%;
}

.VrShow:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.card {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: #5a5ad100;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
}

.card:hover {
  height: 180px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#5b5bf1;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7373ff;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9494fc;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgba(218, 244, 237, 0);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.VrShow {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #4f4fe900;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea00;
  outline: none;
  background-color: transparent;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;

}



.VrShow::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #3535cc00;
  transition: 0.5s;
  transform-origin: center;
}

.VrShow::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #3535cc00;
  transition: 0.5s;
}

.VrShow:hover::before,
.VrShow:hover::after {
  transform: scale(0);
}

.VrShow:hover {
  box-shadow: inset 0px 0px 25px #3535cc00;
}

.Vrp{
  margin-bottom: 2.2rem;
}

.bn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 32px;
  margin-left: 1rem;
}

.bn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6767ff00;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bn::before {
  content: "";
  background: linear-gradient(45deg, #07d888, #e40851, #2f00ff, #00ff37, #ec0808, #2600ff, #0bd157, #2f00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
  opacity: 0;
}



@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn:hover::before {
  opacity: 1;
}

.bn:active:after {
  background: transparent;
}

.bn:active {
  color: #3535cc00;
  font-weight: bold;
}






/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .logo {
    top: 24px;
    transform: scale(0.5);
    transform-origin: center top;
  }

  .spinner__image {
    width: 82px;
    height: 82px;
  }

  .outro__text {
    font-size: 1rem;
  }
  .slideShow{
    height: 53rem;
    }
  .loading-wave {
      margin-bottom: 10rem;
    }
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
